{% extends 'quiezzes/index.html' %}

    {% block content %}
    <div class="container">
        <h1 class="page-header">Login</h1>
        <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <p>Username: <input type="text" name="username" value="" size="50" /></p>
        <br />
            <p>Password: <input type="password" name="password" value="" size="50" /></p>
        <br />
            <input type="submit" value="submit" />
        </form>
    </div>
{% endblock content %}