{% extends 'quiezzes/index.html' %}

    {% block content %}
    <div class="container">
        <div class="jumbotron">
            {% for quizz in quizzes %}
            <a href="{% url 'go_quizz' pk=quizz.id %}"> <p class="text-center">{{quizz.title}}</p></a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}