{% extends 'quiezzes/index.html' %}

    {% block content %}
    <div class="container">
        <form action="{% url 'check' %}" method="post">
            {% csrf_token %}
            {% for question in quizz %}
                <div class="form-group">
                    <p>{{question.question}}</p>
                    <div class="container">
                        <div class="radio">
                            <label><input type="radio" name="{{question.id}}" value="{{question.answer1}}" checked>{{question.answer1}}</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="{{question.id}}" value="{{question.answer2}}">{{question.answer2}}</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="{{question.id}}" value="{{question.answer3}}">{{question.answer3}}</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="{{question.id}}" value="{{question.answer4}}">{{question.answer4}}</label>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <input type="text" value="{{pk}}" name="pk" hidden>
            <input type="submit" class="btn btn-success">
        </form>

    </div>
{% endblock content %}