{% extends 'quiezzes/index.html' %}

    {% block content %}
    <div class="container">
        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="{% url 'index' %}">Return to the homepage.</a><br />
        {% else %}
            <form id="user_form" method="post" action="{% url 'register' %}" >

                {% csrf_token %}
                <!-- Display each form -->
                {{ user_form.as_p }}
                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    </div>
    {% endblock content %}