{% extends 'quiezzes/index.html' %}

    {% block content %}
    <div class="container">
       <h1 class="page-header text-center">Results</h1>
        <p class="text-primary">Your score is {{score}}</p>
    </div>
{% endblock content %}